@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.container {
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #00ab70;
    color: whitesmoke;
    box-shadow:  4px 4px grey;
    position: fixed;
    top: 40px; 
    right: 40px;
    width: 50%;
}

.header {
    margin: 0.5em 0 0.25em 0.5em;
    font-size: 3.5em;
}

.averages-container {
    display: flex;
}

.averages-subcontainer {
    width: 100%;
    text-align: center;
}


.averages-circle {
    font-weight: 500;
    font-size: 4em;
    margin-left: 10%;
	width: 80%;
	display:table;
	border-radius:50%;
    line-height: 0;
	background: whitesmoke;
}
.averages-circle:before{
	content:" ";
	float:left;
	height:0;
	width: 0;
	margin:100% 0 0;	
}

.averages-text {
    margin-bottom: 10%;
}

.averages-main-text {
    margin: 10% 10% 0% 10%;
    font-size: 1.5em;
}

.averages-subtext {
    font-size: 1.2em;
    margin: 0.5%;
}

#nitrogen-average {
    margin-top: 50%;
    color: #208CE5;
}

#phosphorus-average {
    margin-top: 50%;
    color: #E51354;
}

#rate-of-compliance {
    margin-top: 50%;
    color: limegreen;
}

#percentage {
    font-size: 0.5em;
}

@media only screen and (max-width: 1190px) {
    .container {
        position: fixed;
        top: 67.5%; 
        right: 2.5%;
        left: 2.5%;
        width: 95%;
    }

    .averages-circle {
        font-size: 2em;
        margin-left: 35%;
        width: 30%;
    }

    .header {
        font-size: 2em;
    }
  }

  @media only screen and (max-width: 450px) {
    .container{
        font-size: 0.8em;
        top: 75%;
    }

    .averages-circle {
        font-size: 1.5em;
        margin-left: 30%;
        width: 45%;
    }
  }

  @media only screen and (max-width: 450px) {
    .container{
        font-size: 0.6em;
        top: 80%;
    }
  }